/vendor
/node_modules
/.env
/.phpunit.result.cache
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/database/database.sqlite
/database/database.sqlite-journal
.DS_Store
.vscode
.idea
